/fastlane/Preview.html
/fastlane/screenshots/
/Pods/CouchbaseLite-Swift/

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
/screenshots/
/Assets/Build/

/vendor/

/fastlane/report.xml
.DS_Store
## Build generated
build/
DerivedData/

## CI Files
TravisPods
CIPods

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

Relisten.app.dSYM.zip
Relisten.ipa
Pods/Realm
